[submodule "SimCCL"]
	path = SimCCL
	url = https://github.com/aliyun/SimCCL
	branch = master
[submodule "aicb"]
	path = aicb
	url = https://github.com/aliyun/aicb
	branch = master
[submodule "SimAI-ns3-datacenter"]
	path = SimAI-ns3-datacenter
	url = https://github.com/STyGIANet/SimAI-ns3-datacenter.git
	branch = dev
