[submodule "SimCCL"]
	path = SimCCL
	url = https://github.com/aliyun/SimCCL
	branch = master
[submodule "aicb"]
	path = aicb
	url = https://github.com/aliyun/aicb
	branch = master
[submodule "SimAI-ns3-datacenter"]
	path = SimAI-ns3-datacenter
	url = ./SimAI-ns3-datacenter/
	branch = dev
